*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
.reviews{
   padding-top: 0;
}

.reviews .box{
   text-align: center;
   user-select: none;
   padding: 2rem;
   margin-bottom: 4rem;
}

.reviews .box img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}

.reviews .box h3{
   margin: 1.5rem 0;
   font-size: 2rem;
   color: var(--sub-color);
}

.reviews .box p{
   line-height: 2;
   font-size: 1.5rem;
   color: var(--sub-color);
}
